/*all*/
* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	color: #000000;
	font-family: trebuchet ms, Helvetica, sans-serif;
	background-color: #800040;
}

/*login.php*/
#box {
	width: 420px;
	height: 250px;
	padding-left: 20px;
	background-color: #FFFFFF;
	margin: 100px auto;
}
#LogH1 {
	font-size: 200%;
	padding-top: 15px;
	margin: 10px;
}
#LogH3 {
	text-align: center;
	font-size: 150%;
	font-family: trebuchet ms, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}
.row {
	height: 35px;
}
#errorLogin {
	text-align: center;
	font-weight: bolder;
	font-size: 1em;
	padding-top: 5px;
}
#errorLogin div {	
	background-color: #FF0000;
	width: 300px;
}

/*requireHeader.php*/
#container {
	position: absolute;
	background-color: #FFFFFF;
	width: 900px;
	height: 700px;
	padding: 0 auto;
	margin: 30px;
}
#header {
	height: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 90%;
	padding: 10px;
}
#header h1 {
	font-size: 250%;
	letter-spacing: -3px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#header a {
	color: #FF0000;
	float: right;
	text-decoration: none;
	background-color: #000000;
	border-radius: 10px;
	float: right;
	font-size: 0.8em;
	padding: 4px;
	margin-right: -35px;

}
#header a:hover {
	background: #FF0000;
	color: #000000;
}
#navigation {
	margin: 0 auto;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #800040;
	width: 90%;
	height: 30px;
	list-style: none;
	text-align: center;
}
#panel {
	width: 900px;
	margin: 0 auto;
}
#navigation li {
	float: left;
	width: 188px;
	margin: 4px;
	list-style: none;
}
#navigation a {
	color: #FFFFFF;
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #800040;	
	border-radius: 10px;
}
#navigation a:hover {
	background: #000000;
	color: #800040;
	border-radius: 10px;
}

/*content*/
#content {
	width: 90%;
	margin: 0 auto;
}
#display p {
	padding: 0px 0px 5px 0px;
}
input[type="text"], input[type="password"] {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
textarea[name="message"] {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
#gestForm {
	padding: 15px 0px 15px 0px;
}
#gestSubmenu {
	margin: 0 auto;
	margin-bottom: 15px;
	padding-bottom: 15px;
	height: 30px;
	list-style: none;
	text-align: center;
}
input[type="submit"], input[type="reset"] {
	color: #FFFFFF;
	background-color: #800040;
	display: inline;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	width: 150px;
	margin-top: 15px;
}

select{
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
input[type="submit"]:hover, input[type="reset"]:hover  {
	color: #800040;
	background-color: #000000;
}
#list {
	margin: 0 auto;
	margin-top: 10px;
}
#emailTable, #emailTable td {
}

#emailTable {
	text-align: center; 
	border: 1px solid #800040;
	padding-top: 10px;
}

/* bottom */
#bottom {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

/* footer */
#footer {
	border-top: 1px solid #800040;
	height: 20px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	font-size: 0.6em;
}