/*File: style.css*/
/*all*/
* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	color: #000000;
	font-family: trebuchet ms, Helvetica, sans-serif;
	background-color: #800040;
}
.send {
	padding-top: 15px;
}
.submit {
	margin-top: 15px;
}

/*login.php*/
#box {
	width: 420px;
	height: 250px;
	padding-left: 20px;
	background-color: #FFFFFF;
	margin: 100px auto;
}
#LogH1 {
	font-size: 200%;
	padding-top: 15px;
	margin: 10px;
}
#LogH3 {
	text-align: center;
	font-size: 150%;
	font-family: trebuchet ms, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}
.row {
	height: 35px;
}
#errorLogin {
	text-align: center;
	font-weight: bolder;
	font-size: 1em;
	padding-top: 5px;
}
#errorLogin div {	
	background-color: #FF0000;
	width: 300px;
}

/*requireHeader.php*/
#container {
	position: absolute;
	background-color: #FFFFFF;
	width: 900px;
	min-height: 100%;
	padding: 0 auto;
	margin: 30px;
}
#header {
	height: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 90%;
	padding: 10px;
}
#header h1 {
	font-size: 250%;
	letter-spacing: -3px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#header a {
	color: #FF0000;
	float: right;
	text-decoration: none;
	background-color: #000000;
	border-radius: 10px;
	float: right;
	font-size: 0.8em;
	padding: 4px;
	margin-right: -35px;

}
#header a:hover {
	background: #FF0000;
	color: #000000;
}
#navigation {
	margin: 0 auto;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #800040;
	width: 90%;
	height: 30px;
	list-style: none;
	text-align: center;
}
#panel {
	width: 900px;
	margin: 0 auto;
}
#navigation li {
	float: left;
	width: 194px;
	margin: 4px;
	list-style: none;
}
#navigation a {
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
#navigation a:hover {
	background-color: #000000;
	color: #800040;
}
.navoff {
	color: #FFFFFF;
	background-color: #800040;
}
.navon {
	background-color: #000000;
	color: #800040;
}

/*content all*/
#content {
	width: 90%;
	margin: 0 auto;
}
#display p {
	padding: 0px 0px 5px 0px;
}
input[type="text"], input[type="password"] {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
textarea[name="message"] {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}

/*list.php*/
#formFilter {
	margin: -5px 0px 5px 0px;
	padding-top: 15px;
}
#emailTable {
	border-collapse: collapse;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 50px;
}
#listTable table tr td, #listTable table tr th {
	border: 2px solid #800040;
	padding: 5px 10px;
}
#pFilter {
	margin: 5px;
	padding: 5px;
}
#pFilter span {
	background-color: rgba(255,0,0,0.2);
}

/*send.php*/
#butDate {
	margin-top: -25px;
}
#formSend1 {
	height: 70px;
}
#formSend2 {
	padding: 10px;
}
#divSend2 {
	float: left;
	background-color: rgba(0,0,0,0.2);
}
textarea {
	width: 500px;
	height: 200px;
	resize: none;
}
#sendText {
	width: 500px;
}

/*requireGest.php*/
#btnBack {
	margin-top: 15px;
}
#insError, .createError {
	height: 150px;
	text-align: center;
	padding-top: 50px;
	color: #FF0000;	
}
#insError p, .createError p {
	text-align: center;	
	font-weight: bolder;
}
#board {
	text-align: center;
}
#gestForm {
	padding: 15px 50px 15px 50px;
	background-color: rgba(0,0,0,0.2);
	height: 150px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 350px
}
#gestSubmenu {
	margin: 0 auto;
	margin-bottom: 15px;
	padding-bottom: 15px;
	height: 30px;
	list-style: none;
	text-align: center;
}
input[type="button"]{
	display: inline;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	width: 150px;
}
input[type="submit"], input[type="reset"] {
	color: #FFFFFF;
	background-color: #800040;
	display: inline;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	width: 150px;
}
.operForm {
	height: 115px;
}
select{
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	color: #800040;
	background-color: #000000;
}

/*requireEmail.php*/
#list table tr th, #list table tr td {
	border: 2px solid #800040;
	padding: 5px 10px;
	text-align: center;
	margin: 50px 0px 10px 0px;
}
#userTable {
	border-collapse: collapse;
	font-size: 0.8em;
	margin: 0 auto;
}
#list {		
	padding-top: 10px;
	padding-bottom: 50px;
}
#gestFilter{
	padding-left: 50px;
}

/* requireFooter.php */
#bottom {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
#footer {
	border-top: 1px solid #800040;
	height: 20px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	font-size: 0.6em;
}

/*create.php*/
#createN, #createU {
	background-color: rgba(0,0,0,0.2);
	padding: 5px;
	margin: 10px;
	float: left;
}
#createU {
	width: 530px;
}
#createN {
	width: 210px;
}

/*answer_*.php*/
.answer {
	text-align: center;
	padding-top: 50px;
	color: #000000;
	font-size: 1.2em;
	font-weight: bolder;
}